{{ define "name" }} {{ .Conf.Desc }} {{ end }}
{{ define "main" }}
    <div class="icons">
        {{ range .Icons }}
            <div class="icon-item">
                <a class="icon-img" href="{{ .Addr }}">{{ .Icon }}</a>
                <a href="{{ .Addr }}">{{ .Name }}</a>
            </div>
        {{ end }}
    </div>

    <div class="lists">
        {{ range .Lists }}
            <div class="list-item">
                <h2> {{ .Name }} </h2>
                <ul>
                    {{ range .Links }}
                        <li>
                            <a href="{{ .Addr }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    </div>
{{ end }}
