{{ define "name" }} {{ .Conf.Blurb }} {{ end }}
{{ define "main" }}
    <div class="icons">
        {{ range .Icons }}
            <div class="icon-item">
                <div class="icon-img">
                    <a href="{{ .Addr }}">
                        <img src="/icon/{{ .Host }}">
                    </a>
                </div>
                <a href="{{ .Addr }}">{{ .Name }}</a>
            </div>
        {{ end }}
    </div>

    <div class="lists">
        {{ range .Lists }}
            <div class="list-item">
                <h2> {{ .Name }} </h2>
                <ul>
                    {{ range .Links }}
                        <li>
                            <a href="{{ .Addr }}">{{ .Name }}</a>
                            {{ if .From }}
                                <span class="from">
                                    from {{ .From }}
                                </span>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    </div>
{{ end }}
