:root {
    --border: light-dark(#000, #fff);
    --grey: light-dark(#777, #aaa);
    --header-bg: light-dark(DarkSeaGreen, DarkGreen);
    --header-fg: light-dark(#333, #fff);
}

html {
    box-sizing: border-box;
    font: 18px sans-serif;
    line-height: 1.6rem;
    margin: 0;
}

body {
    margin: 0;
}

header {
    background-color: var(--header-bg);
    border-bottom: 0.1rem solid var(--border);
    color: var(--header-fg);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.25rem 0.5rem;
}

header h1,
header p {
    font-size: 18px;
    margin: 0;
}

main {
    margin: 1rem;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.icon-item {
    min-width: 20%;
    text-align: center;
}

.icon-img {
    max-width: 100%;
    height: auto;
}

.lists {
    display: flex;
    flex-direction: row;
    font-size: 0.875rem;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.from {
    color: var(--grey);
}

footer {
    color: var(--grey);
    text-align: center;
}

/* phone */
@media (max-width: 799px) {
    html {
        font-size: 16px;
    }

    .desktop {
        display: none;
    }

    .icon-item {
        min-width: 30%;
    }

    .list-item {
        min-width: 100%;
    }
}

/* tablet / mid desktop */
@media (min-width: 800px) and (max-width: 999px) {
    .icon-item {
        min-width: 20%;
    }
}

/* big desktop */
@media (min-width: 1000px) {
    .icon-item {
        min-width: 10%;
    }
}
